body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: url(../img/background_images/7566433.jpg) no-repeat;
   background-size: cover;
   background-position: center;
 	color: #fff;
}

.wrapper{
   position: relative;
   width: 400px;
   height: 440px;
   background: transparent;
   border: 2px solid rgba(255, 255, 255, .5);
   border-radius: 20px;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 30px rgba(0, 0, 0, .5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-form .logo{
   position: absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width: 95px;
   height: 95px;
   top: -50px;
}

.login-form .logo img{
   width: 100%;
   border-radius: 50% ;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 1.0);

}
.login-form h2{
   font-size: 18px;
   margin: 45px 0 25px ;
}

.form-control{
   min-height: 40px;
   background: #fff;
   box-shadow: none !important;
   border-color: #e3e3e3;
   padding: 0.375rem 1.75rem;

}
.form-control:focus{
border-color: #4F4F4F; 
}

.form-control, .btn{
   border-radius:4px; 
}

.login-form .btn{
font-size: 16px;
font-weight: bold;
background: #00FF7F;
border: none;
margin-bottom:20px ;
}

.login-form .btn:hover, .login-form .btn:focus{
background: #A9A9A9;
outline: none !important;

}
.login-form imput[type="checbox"]{
   margin-top: 2px;

}

.login-form form a{
   color: #00FF7F;
   text-decoration: none;

}

.login-form form a:hover{
   text-decoration: underline;
}

.clearfix {
   display: flex;
   gap: 12px;
}
 
.recuperar_senha {
   font-size: 11.5px;
   padding: 2px 0px 8px;
}
