.navbar{
	background-color: #04AA6D !important;	
}

.navbar img{
	width: 90px;
}
.navbar li{
	list-style: none;
}
.navbar a{
	color: #071e51;
	font-size: 15px;
}
.navbar a:hover{
	color: #244181;
}
.nav{
	background-color:#98FB98 !important;
}
.nav a{
	color: #071e51;
	font-size: 14px;
}
.nav .active{
	background-color:#696969 !important;
}

/* Trabalhando os cards */

.card{
	width: 200px;
	border-radius: 10px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	margin:0 auto;
}

.card-body{
	padding-bottom: 4px !important;
	padding-top: 8px !important;
}

.card p{
	margin: 0;
	padding: 0;
}
.icone-card{
	font-size: 70px;
}
.titulo-card{
	font-size: 12px;
	text-align: right;
}
.subtitulo-card{
	font-size: 40px;
	text-align: right;
}
.rodape-card{
	font-size: 10px;
	text-align: center;
}

/* Classe badge para icone de notificações */

.badge{
	background-color: #FF4500 !important;
}

/* Alteração no botão no painel cadastro Veterinário, acrescenta classe btn */
/* Função !import não preserva o que está dentro do CSS */
.btn-secondary{
	background-color: #90EE90 !important;
}

/* Função houver para acender e apagar o botão qnd passar o mouse */
.btn-secondary:houver{
	background-color: #04AA6D !important;
}	

/* estilizando registro*/

.registro{
	font-size:15px ;
	margin-right: 5px;
}



