@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    margin-bottom: 0;
}

label{
    margin-bottom: 0;
}

.navbar{
	background-color: #04AA6D !important;	
}

.navbar img{
	width: 90px;
}
.navbar li{
	list-style: none;
	margin-bottom: 10px;
}
.navbar a{
	color: #071e51;
	font-size: 15px;
}
.navbar a:hover{
	color: #244181;
}
.nav{
	background-color:#04AA6D !important;
}
.nav a{
	color: #071e51;
	font-size: 14px;
}
.nav .active{
	background-color:#696969 !important;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container.navbar-header {
    flex-direction: row;
}

.container.cadastro_all {
    flex-direction: row !important;
}

@media (min-width: 1200px){
    .container{
        max-width: 96% !important;
    }
}

form.form_cadastro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 100%;
    gap: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.form-group:last-child{
    align-items: center;
}

.form-group > p {
    background: #e9ecef;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    margin-top: 4px;
    border-radius: 4px;
    color: #D1203E;
}

input.btn_cadastrar{
    
   width: 50%;
   height: 45px;
   background: #0B0B0B;
   border: none;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1em;
   font-weight: 500;
   color: #fff;
}

input.btn_cadastrar:hover{
    background-color: #04AA6D;
    color: #fff;
    border: 1px solid;
}

.menu_user{
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu_user > button{
    color: #0B0B0B;
}

.menu_user > h3{
    margin-bottom: 0;
}

.coluna_listar{
    width: 100%;
    height: 400px;
    background-color: aqua;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B0B0B;
    width: 268px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
    transition: .9s;
    border-radius: 6px;
    margin-left: 20px;
}

.dropdown-content a{
    margin-left: 0 !important;
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.dropdown-content a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    color: #0B0B0B;
}

.dropdown-content a:hover::after{
    color: #fff;
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown-content.dispensario {
    width: 210px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.sair {
    width: 60px;
}

#tabela_listar {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#tabela_listar td, #tabela_listar th {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 4px;
}
  
#tabela_listar tr:nth-child(even){
    background-color: #f2f2f2;
}
  
#tabela_listar tr:hover {
    background-color: #ddd;
}
  
#tabela_listar th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

#tabela_listar td{
    text-align: center;
}

.tabela_listar {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 15px 0 15px;
}
  
.tabela_listar td, .tabela_listar th {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 4px;
}
  
.tabela_listar tr:nth-child(even){
    background-color: #f2f2f2;
}
 
.tabela_listar tr:hover {
    background-color: #ddd;
}
  
.tabela_listar th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.tabela_listar td{
    text-align: center;
}

table.tabela_listar.qtd_total {
    width: 15%;
    margin-top: 10px;
}

.menu_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_op_adm {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 0;
}

.menu_op_adm a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.menu_op_adm a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    color: #0B0B0B;
}

.menu_op_adm a:hover::after{
    color: #fff;
    transform-origin: left;
    transform: scaleX(1);
}

.login_user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_op_adm .login_user{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
    transition: .5s;
}

.menu_op_adm .login_user:hover{
    background-color: #fff;
    color: #0B0B0B;
}

main{
    padding: 10px;
}

.cadastro_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    background-color: #ced4da;
}

.form-group li{
    color: red;
    font-size: small;
    list-style: none;
}

button.btn{
    background: none;
    border: 2px solid #0B0B0B;
    font-family: "montserrat", sans-serif;
    padding: 1px 8px;
    min-width: 20px;
    margin: 4px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

button.btn:hover{
    color: #fff;
}

button.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #04AA6D;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

button.btn::before{
    transform: scaleX(0);    
}

button.btn:hover::before{
    transform: scaleX(1);
}

.vermelho{
    color: #fff;
    background-color: #D1203E;
}

.verde{
    color: #0B0B0B;
    background-color: #41C85A;
}

.amarelo{
    background-color: #fce052;
}

span.icon {
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 4px;
}

.cards_wrapper{
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.group_cards{
    display: flex;
    justify-content: space-evenly;
}

.cards{
    position: relative;
    width: 300px;
    height: 340px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.cards.re{
    align-items: center;
    padding-left: 0;
}

.cards.cadastro_insumo{
    width: 340px;
    height: 390px;
}

.cards.edita_insumo{
    width: 340px;
    height: 490px;
}

.cards.cadastro_usuarios{
    width: 340px;
    height: 590px;
}

.cards.edita_usuarios{
    width: 340px;
    height: 650px;
}

.cards.cadastro_deposito{
    width: 790px;
    height: 440px;
}

.cards.cadastro_dispensario{
    width: 740px;
    height: 425px;
}

.cards.retirar_dispensario{
    width: 640px;
    height: 722px;
}

.content_cards > div {
    padding-left: 20px;
}

.content_cards > div.top_cards {
    padding-left: 0;
}

div.top_cards h2 {
    display: flex;
    justify-content: center;
}

div.top_cards {
    margin-bottom: 20px;
}

.titulo{
    display: flex;
    align-items: center;
    gap: 4px;
}

.titulo > h4 {
    margin-bottom: 0 !important;
}

.vencimentoProx > h2 {
    color: red;
}

.operacao{
    display: flex;
    justify-content: center;
}

td.operacoes {
    display: flex;
    justify-content: center;
}

.form_buscar{
    display: flex;
    align-items: center;
}

.form_buscar input{
    padding: 2px;
    border-radius: .25em;
}

.tabelas{
    display: flex;
}

.paginacao{
    display: flex;
    gap: 6px;
    margin-top: 15px;
    justify-content: center;
}

.paginacao a {
    color: #0B0B0B;
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 0 11px;
}

.paginacao > span {
    color: #0B0B0B;
    background-color: #7EE081;
    border-radius: 3px;
    padding: 0 11px;
}

.voltar{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.voltar h4{
    margin-bottom: 0;
}

select.form-control-sm{
    width: 100%;
    background: none;
}

.relatorios{
    display: flex;
    flex-wrap: wrap;
    max-width: 260px;
}

.relatorio{
    width: 120px;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px;
    margin: 4px;
    text-align: center;
    transition: .5s;
}

.relatorio a{
    color: #0B0B0B;
    text-decoration: none;
}

.relatorio:hover{
    color: #fff;
    background-color: #04AA6D;
}

form.form_retirar_dispensario {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

input.form-control.descricao_retira_dispensario {
    height: 8rem;
}

span.span_select_qtd {
    margin-right: 4px;
}

.form-group.valida_movimentacao {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.largura_metade {
    width: 30% !important;
}