@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

img{
    width: 150px;
    height: 70px;
    margin-left: 38%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tbody, thead{
    border: 0.5px solid black;
    font-size: 20px;    
}

h3{
    font-size: 25px;
}

.vermelho{
    color: #fff;
    background-color: #D1203E;
}

.verde{
    color: #0B0B0B;
    background-color: #41C85A;
}

.amarelo{
    background-color: #fce052;
}